@import "_webkit";

#category {
  min-height: 100vh;
  .container {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .category-half {
      width: calc(100% / 2);
      position: relative;
      height: 100%;
    }
  }
  .left-bg {
    .bg-item {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
      &.signature-bg {
        background-image: url(../images/category/c-signature-bg.jpg);
      }
      &.beverage-bg {
        background-image: url(../images/category/c-beverage-bg.png);
      }
      &.coffee-bg {
        background-image: url(../images/category/c-coffee-bg.png);
      }
      &.cookie-bg {
        background-image: url(../images/category/c-cookie-bg.png);
      }
      &.is-active {
        -webkit-animation: 1s widthIn cubic-bezier(0.76, 0, 0.24, 1);
        animation: 1s widthIn cubic-bezier(0.76, 0, 0.24, 1);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
    }
  }

  .category-btn {
    position: absolute;
    top: 8rem;
    left: 8rem;
    z-index: 5;
    .title {
      @include clampCal(33, 70);
      font-weight: 700;
      color: #fff;
      margin-bottom: 0.5em;
    }
    .category-btn-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      button {
        font-size: 1.5rem;
        padding: 5px 0;
        margin: 10px 0;
        color: #fff;
      }
    }
  }
  .right-bg {
    width: 650px;
    margin-left: auto;
    margin-right: 60px;
    height: 100%;
    .category-title {
      padding-top: 120px;
      .title {
        font-size: 2.5rem;
        font-weight: 700;
        color: $main-color;
        margin-bottom: 20px;
      }
      .desc {
        font-size: 1.2rem;
        color: $main-color;
        line-height: 1.6;
      }
    }
    .category-box {
      margin: 0;
      padding: 0;
      letter-spacing: -0.5px;
      .category-item {
        margin: 50px 0;
        .swiper {
          margin-left: auto;
          margin-right: auto;
          position: relative;
          overflow: hidden;
          list-style: none;
          padding: 0;
          z-index: 1;
          .swiper-wrapper {
            width: calc(100% / 3);
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
            .swiper-slide {
              height: 320px;
              flex-shrink: 0;
              position: relative;
              transition-property: transform;
              .item-link {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                -webkit-box-align: center;
                -webkit-box-pack: center;
                .item {
                  width: 100%;
                  margin: 0 auto;
                  img {
                    max-width: 100%;
                    border: 0;
                    vertical-align: top;
                  }
                }
              }
            }
          }
        }
      }
    }
    .category-deco {
      font-size: 1.5rem;
      font-weight: 700;
      color: $main-color;
      letter-spacing: -0.5px;
      .title {
        border-bottom: 1px solid $main-color;
        padding-bottom: 1.5rem;
      }
      .category-topping {
        display: inline-flex;
        .topping {
          margin-top: 2rem;
          margin-right: 1.5rem;
          text-align: center;
          img {
            display: block;
            width: 70px;
            margin: 0 auto;
          }
          .desc {
            margin-top: 1.2rem;
            font-size: 0.9rem;
            font-weight: 500;
          }
        }
      }
    }
  }
  .category-center-menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 40%);
    z-index: 10;
    .img {
      width: 440px;
      img {
        max-width: 100%;
        border: 0;
      }
    }
  }
}

#count {
  position: relative;
  overflow: hidden;
  padding: 100px 0;
  color: $main-color;
  .mask {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .count-info {
    width: 60%;
    position: absolute;
    height: 100%;
    .count-list {
      position: absolute;
      padding: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 888px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      .count-main-txt {
        line-height: 1.2;
        font-size: 60px;
        font-weight: 700;
      }
      .count-sub-txt {
        line-height: 1.5;
        font-size: 18px;
        margin: 50px 0;
      }
      .count-box {
        border: 1px solid #ccc;
        padding: 50px;
        .count-box-txt {
          font-size: 22px;
          font-weight: 500;
        }
        .count-num {
          font-size: 140px;
          font-weight: 500;
          padding: 20px 0;
          span {
            font-size: 40px;
            text-transform: uppercase;
          }
        }
        .count-date {
          font-size: 18px;
          opacity: 0.5;
        }
      }
      .count-btn {
        margin-top: 60px;
        width: 194px;
        height: 60px;
        background-color: $main-color;
        color: #fff;
        font-size: 20px;
        border-radius: 100px;
      }
    }
  }
  .count-contents {
    width: 40%;
    height: 100%;
    .circle-line {
      position: absolute;
      right: -1rem;
      transform: translate(0, 50%);
      width: 396px;
      height: 792px;
      border-top-left-radius: 470px;
      border-bottom-left-radius: 470px;
      border: 2px solid rgba(235, 86, 46, 0.4);
      .inline-main {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 0;
        width: 590px;
        height: 590px;
        display: block;
        background-image: url(../images/count/m-4th_sec-main_con_1.png);
        background-size: cover;
        animation: main_con-change 5s ease-in-out infinite;
      }
      .inline-con {
        position: absolute;
        top: 0%;
        left: 45%;
        transform: translate(30%, -30%);
        width: 130px;
        height: 130px;
        background-image: url(/images/count/m-4th_sec-con_1.png);
        background-size: cover;
        animation: con-change 5s ease-in-out infinite;
      }
      .inline-point {
        position: absolute;
        bottom: 0%;
        left: 75%;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: $main-color;
      }
    }
  }
}

#news {
  width: 100%;
  height: auto;
  color: $main-color;
  .mask {
    width: 100%;
    height: 100%;
    display: flex;
    border-top: 1px solid rgba(111, 112, 112, 0.3);
  }
  .news-left {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(111, 112, 112, 0.3);
    .title {
      position: absolute;
      top: 40px;
      left: 80px;
      font-size: 100px;
      font-weight: 700;
    }
    .contents-box {
      position: absolute;
      bottom: 0;
      left: 80px;
      transform: translate(0, 70%);
      width: 186px;
      height: 186px;
      .direct-circle {
        animation: circle-linear 3s linear infinite;
        transition: 3s linear infinite;
      }
      .circle-txt {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
  }
  .news-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    .right-contents {
      position: relative;
      padding: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(111, 112, 112, 0.3);
      border-left: 1px solid rgba(111, 112, 112, 0.3);
    }
    .event-box-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 85%;
      .event-info {
        font-size: 18px;
        opacity: 0.7;
      }
      .event-title {
        font-size: 24px;
        font-weight: 500;
        margin: 15px 0 18px;
      }
      .event-date {
        font-size: 16px;
        opacity: 0.5;
      }
    }
    .event-box-img {
      position: absolute;
      display: none;
    }
    .event-box-arrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 10%;
    }
  }
}
