@import "_vars";
@import "_mixins";
@import "_reset";
@import "common";
@import "main";
@import "./sections/category";
@import "media.scss";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  min-height: 3000px;
  background-color: #f7f6f3;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}
button {
  color: inherit;
  border: none;
  background: none;
  outline: none;
}

.container {
  width: 1650px;
}

#header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  height: 100px;
  z-index: 999;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  .container {
    display: flex;
    justify-content: center;
    .utill {
      position: absolute;
      height: 100px;
      display: flex;
      right: 50px;
      z-index: 3;
      ul {
        display: flex;
        align-items: center;
        li {
          padding-left: 20px;
          button {
            color: #fff;
            background-color: $main-color;
            padding: 10px 30px;
            font-size: 16px;
            border-radius: 100px;
          }
        }
      }
    }
  }
  #gnb {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    &.on {
      background-color: #fff;
      height: 500px;
      .list li .depth02 {
        pointer-events: auto;
        opacity: 1;
      }
    }
    .list {
      display: flex;
      transition: all 0.25s ease;
      li {
        color: $main-color;
        .depth01 {
          padding: 0 60px;
          display: flex;
          align-items: center;
          height: 100px;
          font-weight: 500;
          font-size: 20px;
        }
        .depth02 {
          pointer-events: none;
          opacity: 0;
          transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          li {
            padding: 20px 60px;
            font-size: 19px;
          }
        }
      }
    }
  }

  .logo {
    position: absolute;
    left: 50px;
    z-index: 3;
    a {
      height: 100px;
      display: flex;
      align-items: center;
      img {
        height: 50px;
      }
    }
  }
}

#footer {
  width: 100%;
  background-color: $main-color;
  color: #fff;
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-logo {
    margin: 80px 0 40px;
  }
  .footer-link {
    margin-bottom: 40px;
    img {
      margin: 0 40px;
    }
  }
  .footer-list {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .footer-info {
    font-size: 15px;
    font-weight: 300;
    address {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .infomation {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .infomation-mobile {
      display: none;
    }
    .bar {
      width: 1px;
      height: 13px;
      background-color: #fff;
      margin-top: 2px;
      opacity: 0.2;
      margin: 0 10px;
    }
  }
  .copyright {
    font-size: 12px;
    font-weight: 300;
    margin: 120px 0 80px;
  }
}

.btn-top {
  position: absolute;
  right: 80px;
  text-align: center;
  width: 80px;
  z-index: 100;
  .top {
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .circle {
      width: 60px;
    }
    .arrow {
      width: 33px;
      position: absolute;
    }
  }
  span {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
  }
}

.popup {
  position: absolute;
  left: 4%;
  bottom: 5%;
  z-index: 2;
  display: flex;
  align-items: center;
  .popup01 {
    width: 188px;
    .img {
      height: 188px;
      background-image: url(../images/20221005170159_z6j1ni.png);
      background-size: cover;
    }
    .close {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f5f5f5;
      padding: 5px 10px;
      font-size: 13px;
      margin-top: 5px;
      width: 100%;
      height: 26px;
      .btn-oneday,
      .btn-close {
        cursor: pointer;
      }
    }
  }
}
